.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid #C4C4C4;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.logo{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.txtnavbar{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}