.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.Splitright{
    width: 50%;
    display: flex;
    font-display: left;
    font-size: 24px;
}

/* .Banner{

} */